<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <div class="sidebar-sticky pt-1">
        <ul class="nav flex-column">
            <li class="nav-item">
                <%= link_to admins_root_path class: 'nav-link active' do %>
                    <i class="fa fa-home"></i>
                    <span>ホーム</span>
                <% end %>
            </li>
            <li class="nav-item dropdown">
                <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-th-list"></i>
                    <span>商品管理</span>
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    
                    <%= link_to "商品マスター", admins_products_path, class: "dropdown-item" %>
                    <%= link_to "商品登録", new_admins_product_path, class: "dropdown-item" %>
                    <a class="dropdown-item" href="#">商品CSV登録</a>
                    <a class="dropdown-item" href="#">カテゴリCSV登録</a>
                </div>
            </li>

            <li class="nav-item">
                <%= link_to admins_sales_records_path, class: 'nav-link' do %>
                    <i class="fa fa-calculator"></i>
                    <span>受注管理</span>
                <% end %>
            </li>

            <li class="nav-item">
                <%= link_to admins_users_path, class: 'nav-link' do %>
                    <i class="fa fa-address-book"></i>
                    <span>会員管理</span>
                <% end %>
            </li>

            <li class="nav-item">
                <%= link_to "#", class: 'nav-link' do %>
                    <i class="fa fa-yen-sign"></i>
                    <span>売上集計</span>
                <% end %>
            </li>
        </ul>
    </div>
</nav>