<div class="top-container">
    <div class="jumbotron">
        <div class="mx-auto" style="width: 300px;">
            <h1 class="display-３">NEW ITEM</h1>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <!-- スライドさせる画像の設定 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag 'nike.jpg', class: "w-100" %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 "text-muted">第1スライド見出し</h5>
                            <p>スライドイメージの紹介</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'nike.jpg', class: "w-100" %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 "text-danger">第1スライド見出し</h5>
                            <p>スライドイメージの紹介</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag 'nike.jpg', class: "w-100" %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-dark">第1スライド見出し</h5>
                            <p class="text-dark">スライドイメージの紹介</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">ダッシュボード</a></li>
                <li><a href="#">サーバー１</a></li>
                <li><a href="#">サーバー２</a></li>
                <li><a href="#">サーバー３</a></li>
            </ul>
        </div>
        
        <div class="col-9">
            <h4 class="mt-3">アイテム一覧</h4>
            <div class="row">
                <% @products.each do |product| %>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <a href="/products/<%= product.hashid %>" class="card card-product-grid">
                            <% if product.image.present? %>
                                <div class="img-wrap"><%= image_tag product.image_url, class: "w-100" %></div>
                            <% else %>
                                <div class="img-wrap"><%= image_tag "nike.jpg" ,class: "w-100" %></div>
                            <% end %>
                            <figcaption class="info-wrap">
                                <p class="title text-dark"><%= product.name %></p>
                                <div class="price mt-2 text-darkgit "><%= product.price %>円</div> 
                            </figcaption>
                        </a> 
                    </div> 
                <% end %>
            </div>
            <%= paginate @products %>
        </div>
    </div>
</div>


