<h1>index page</h1>

<div class="row">
    <% @products.each do |product| %>
        <div class="col-md-3 col-sm-6">
            <a href="#" class="card card-product-grid">
                <% if product.image.present? %>
                    <div class="img-wrap"><%= image_tag product.image_url, class: "w-100" %></div>
                <% else %>
                    <div class="img-wrap"><%= image_tag "nike.jpg" ,class: "w-100" %></div>
                <% end %>
                <figcaption class="info-wrap">
                    <p class="title text-truncate"><%= product.name %></p>
                    <div class="price mt-2"><%= product.price %>円</div> 
                </figcaption>
            </a> 
        </div> 
    <% end %>
</div> 

<%= paginate @products %>