<div class="top-container">
  <div class="card product-detail mx-auto">
    <div class="row no-gutters">
      <aside class="col-md-6">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div class="img-wrap text-center"><%= image_tag (@product.image_url || "nike.jpg"), class: "w-50" %></div>
          </div> 
        </article> <!-- gallery-wrap .end// -->
      </aside>
      <main class="col-md-6 border-left">
        <article class="content-body">

          <h2 class="title"><%= @product.name %></h2>

          <div class="rating-wrap my-3 ml-1">
            <span class="score">
              <div class="score-wrap">
                <span class="stars-active" style="width:88%">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </span>
                <span class="stars-inactive">
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </span>
              </div>
            </span>
            <small class="label-rating text-muted">132 reviews</small>
          </div> <!-- rating-wrap.// -->

          <dl class="row ml-1">
            <dt class="col-sm-3">価格</dt>
            <dd class="col-sm-9"><%= @product.price %>円</dd>
            <dt class="col-sm-3">タイプ</dt>
            <dd class="col-sm-9"><%= @product.gender_type %></dd>
            <dt class="col-sm-3">色</dt>
            <dd class="col-sm-9"><%=@product.color %></dd>
            <dt class="col-sm-3">備考</dt>
            <dd class="col-sm-9"><%=@product.description %></dd>
          </dl>
<hr>
          <div class="form-row">
            <div class="form-group mx-3">
              <label for="exampleFormControlSelect1">サイズ</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">個数</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
          <div class="btn btn-outline-warning">
            <%= link_to "買い物かごに入れる", product_add_to_baskets_path(@product), method: :post %>
            <i class="fas fa-shopping-cart"></i>
          </div>
        </article> <!-- product-info-aside .// -->
      </main> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
</div>
