<!DOCTYPE html>
<head>
  <html lang="ja">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>Dashboard Template · Bootstrap</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
   
    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'admins/shared/header' %>
    <div class="container-fluid">
      <div class="row">
        <%= render partial: 'admins/shared/side_bar' %>
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
